.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;

    color: white;
}

.header > h1 {
    text-shadow: black 1px 1px 2px;
}

.header > .links{
    color: white;
    font-size: 2em;
} 

.header > .links > a{
    color: white;
    text-decoration: none;
}

.header > .links > a:hover{
    color: #c0810c;
}